         <div ng-controller="berandaCtrl">
                    <div class="row">
                        <div ng-repeat="gal in gallery">
                            <div class="large-3 columns ">
                                <div class="th [radius] gallery-wrapper" ng-click="detailGallery()" >

                                    <img src="img/designs/6.jpg" />

                                    <dl> 
                                        <dt><a href="detail_gallery.html">Definition Title here...</a></dt> 
                                        <dd>By : <a href="#">codejunior</a></dd>
                                        <dd class="text-center">
                                            <hr/>
                                            <span class=" fa fa-thumbs-up"></span> 100
                                            <span class=" fa fa-eye"></span> 300</dd> 
                                    </dl>
                                </div>
                            </div>
                            <div class="large-3 columns">


                                <div class="th [radius] 30 gallery-wrapper">
                                    <img src="img/designs/11.jpg" />

                                    <dl> 
                                        <dt>Definition Title here...</dt> 
                                        <dd>By : <a href="#">codejunior</a></dd>
                                        <dd class="text-center">
                                            <hr/>
                                            <span class=" fa fa-thumbs-up"></span> 100
                                            <span class=" fa fa-eye"></span> 300</dd> 
                                    </dl>

                                </div>
                            </div>
                            <div class="large-3 columns">
                                <div class="th [radius] gallery-wrapper">

                                    <img src="img/designs/8.jpg" />

                                    <dl > 
                                        <dt>Definition Title here...</dt> 
                                        <dd>By : <a href="#">codejunior</a></dd>
                                        <dd class="text-center">
                                            <hr/>
                                            <span class=" fa fa-thumbs-up"></span> 100
                                            <span class=" fa fa-eye"></span> 300</dd> 
                                    </dl>

                                </div>
                            </div>
                            <div class="large-3 columns">
                                <div class="th [radius] gallery-wrapper">

                                    <img src="img/designs/9.jpg" />

                                    <dl> 
                                        <dt>Definition Title here...</dt> 
                                        <dd>By : <a href="#">codejunior</a></dd>
                                        <dd class="text-center">
                                            <hr/>
                                            <span class=" fa fa-thumbs-up"></span> 100
                                            <span class=" fa fa-eye"></span> 300</dd> 
                                    </dl>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>