<div ng-controller="berandaCtrl">

    <div class="header-logo" id="head-segment">
        <div class="container">
            <div class="row">


                <div class="center-block text-center">
                    <h3><b>WE DESIGN FOR DAKWAH</b></h3>


                    <div class="row">

                        <div class="center-block">
                            <div class="large-10 columns small-centered">
                                <div class="row collapse">
                                    <div class="small-4 columns">
                                        <select>
                                            <option>Kalender</option>
                                            <option>Poster Kajian</option>
                                        </select>
                                    </div>
                                    <div class="small-7 columns">
                                        <input type="text" placeholder="Kata kunci ">
                                    </div>
                                    <div class="small-1 columns">
                                        <a href="#search-result" class="button alert postfix "><span class="fa fa-search"></span> Cari</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="content-container">

        <div class="row">

            <div class="large-4 small-12 columns ">

                <img src="img/designs/6.jpg">

                <div class="hide-for-small panel">
                    <h3>Mockup App Dakwah</h3><hr/>
                    <p class="subheader">
                        Mockup app dakwah, berisi template-template 
                    </p> <hr/>






                    <ul class="inline-list center">
                        <li><a role="button" href="#" class="button small"><span class="fa fa-download"></span> Download</a></li>
                        <li><a role="button" href="#" class="button small"><span class="fa fa-share"></span>  Share </a></li>
                    </ul>
                </div>



            </div>
            <div class="large-8 columns">
                <div ng-repeat="gal in gallery">
                    <div class="large-4 columns ">
                        <div class="th [radius] gallery-wrapper" >

                            <img src="img/designs/6.jpg" />

                            <dl> 
                                <dt><a href="#detail-design">Mockup App Dakwah</a></dt> 
                                <dd>By : <a href="#detail-designer" ng-click="detailGallery()">codejunior</a></dd>
                                <dd class="text-center">
                                    <hr/>
                                    <span class=" fa fa-thumbs-up"></span> 100
                                    <span class=" fa fa-eye"></span> 300</dd> 
                            </dl>
                        </div>
                    </div>
                    <div class="large-4 columns">


                        <div class="th [radius] 30 gallery-wrapper">
                            <img src="img/designs/11.jpg" />

                            <dl> 
                                <dt><a href="#detail-design">Kupon Kurban</a></dt> 
                                <dd>By : <a href="#">codejunior</a></dd>
                                <dd class="text-center">
                                    <hr/>
                                    <span class=" fa fa-thumbs-up"></span> 100
                                    <span class=" fa fa-eye"></span> 300</dd> 
                            </dl>

                        </div>
                    </div>

                    <div class="large-4 columns">


                        <div class="th [radius] 30 gallery-wrapper">
                            <img src="img/designs/11.jpg" />

                            <dl> 
                                <dt><a href="#detail-design">Kupon Kurban</a></dt> 
                                <dd>By : <a href="#">codejunior</a></dd>
                                <dd class="text-center">
                                    <hr/>
                                    <span class=" fa fa-thumbs-up"></span> 100
                                    <span class=" fa fa-eye"></span> 300</dd> 
                            </dl>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>